@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: 700;
}

body {
    margin: auto;
    font-family: 'OpenSans';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    position: relative;
    min-width: 1200px;
}

.button {
    height: 48px;
    background-color: #b59f5b;
    border: none;
    font-family: "OpenSans";
    font-size: 14px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.button:hover {
    background-color: #323232;
}

/* Header */

.header {
    position: relative;
    min-height: 450px;
    width: 100%;
    background-color: gray;
    background: url('../images/banner-bg.jpg') top/cover no-repeat;
    margin-bottom: 59px;
}

.burger-menu {
    display: none;
}

/* маска на баннере */

.header:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    z-index: 0;
}

/* логотип выполнен ссылкой для отправки на главную страницу */

.logo_1 {
    position: relative;
    top: 17px;
    left: 124px;
    width: 180px;
    height: 40px;
    z-index: 1;
}

h1 {
    position: relative;
    width: 687px;
    font-family: 'OpenSans';
    font-size: 45px;
    line-height: 75px;
    color: #ffffff;
    text-transform: uppercase;
    
    margin: 132px auto 0;
    text-align: center;
    z-index: 1;
}

.menu {
   
    position: relative;
    float: right;
    margin: 20px 245px 0 0;
}

.menu-item a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    line-height: 36px;
    text-transform: uppercase;
}

.menu-item {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: inline;
    z-index: 1;
}

.menu-item:nth-child(n + 2) {
    margin-left: 30px;
}

.menu-item a:hover {
    text-decoration: underline;
}

/* trends-section */

.trends {
    margin-bottom: 51px;
}

h2.trends,
h2.shop,
h2.popup {
    position: relative;
    font-family: 'OpenSans';
    font-size: 20px;
    line-height: 29px;
    color: #0f0d0e;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 40px;
}

h2.trends:before,
h2.shop:before,
h2.aside-title:before,
h2.popup:before {
    display: block;
    position: relative;
    content: '';
    width: 66px;
    height: 3px;
    margin: auto;
    background-color: #b59f5b;
    opacity: 0.4;
    top: 38px;
}

.trend-container,
.shop-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 4px;
    margin: auto;
    max-width: 2400px;
    width: 100%;
 
}

.trends-item {
    box-sizing: border-box;
    /* min-width: 413px; */
    min-width: 282px;
    max-width: 588px;
    min-height: 320px;
    width: calc(25% - 4px);
    background-color: #000000;
    background: center/cover no-repeat;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
}

.trends-item::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
}

.trend1 {
    background-image: url('../images/trend1.jpg');
}

.trend2 {
    background-image: url('../images/trend2.jpg');
}

.trend3 {
    background-image: url('../images/trend3.jpg');
}

.trend4 {
    background-image: url('../images/trend4.jpg');
}

.trends-content-links {
    border: 3px solid rgb(181, 159, 91, .6);
    padding: 31px 33px 33px;
    position: relative;
    margin: 15px 23px 15px;
}

.trends-title,
.article-title {
    font-family: "OpenSans";
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

}

.trends-title:hover,
.article-title:hover,
.new-posts-title:hover,
.categories-item a:hover {
    color: #b59f5b;
}

.tags {
    font-family: "OpenSans";
    font-size: 14px;
    line-height: 14px;
    color: #b59f5b;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.tags:hover {
    text-decoration: underline;
}

.tags:nth-child(n + 2) {
    margin-left: 12px;
}

/* content */

.page {
    position: relative;
    width: 1170px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

/* main */

.main {
    flex-basis: 793px;
    margin: 0 0 50px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 61px;
    padding-top: 10px;
}

.main-article {
    width: 100%;
    min-height: 294px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.article {
    width: 381px;
}

.main-article-pics {
    width: 381px;
    height: 294px;
    background-color: #eff6f1;
}

.article-content-links {
    line-height: 16px;
    margin-bottom: 4px;
}

.article-title {
    color: #0f0d0e;
    margin: 0 0 0.9em;
}

.article-date {
    font-family: 'OpenSans';
    color: #888888;
    font-size: 12px;
    line-height: 40px;
}

.article-author {
    font-family: 'OpenSans';
    color: #000000;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
    margin-left: 8px;
}

.article-description,
.shop-description {
    font-family: "OpenSans";
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
}

.article-description {
    margin-top: 2.2em;
}

.decor {
    display: inline-block;
    margin-bottom: 0.7em;
}

/* aside */

.aside {
    flex-basis: 272px;
}

/* new posts-section */

.new-posts {
    position: relative;
    margin-bottom: 60px;
}

.aside-title {
    font-family: 'OpenSans';
    font-weight: 700;
    font-size: 14px;
    line-height: 29px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 12px;
}

.new-posts-container {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-top: 34px;
}

.new-posts-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.aside-pics {
    width: 70px;
    height: 70px;
    background-color: #f4f7f6;
}

.new-posts-content {
    width: 67%;
    min-height: 70px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.new-posts-date {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    color: #000000;
    opacity: .541;
}

.new-posts-title {
    display: inline-block;
    font-family: 'OpenSans';
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 4px 0 0;
}

/* search-section  */

.search-container {
    height: 48px;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 51px;
}

.aside-search,
.aside-email,
.traffic-select,
.textarea {
    width: 100%;
    height: 48px;
    background-color: #f4f7f6;
    border: none;
    padding-left: 17px;
}

.aside-search:focus,
.aside-email:focus,
.traffic-select:focus,
.textarea:focus {
    outline: 1px solid #b59f5b;
    outline-offset: -1px;
}

.search-container .button {
    width: 48px;
    height: 48px;
}

.search_btn {
    height: 18px;
    width: 18px;
    margin: auto;
    vertical-align: middle;
}

/* subscribe-section */

.subscribe-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 17px;
    margin-bottom: 49px;
}

.aside-email {
    width: calc(100% - 17px);
}

.subscribe-container .button,
.feedback .button {
    width: 100%;
}

/* tag-section  */

.tag {
    margin-bottom: 47px;
}

.tag-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 5px 6px;
    padding: 0;
    margin-top: 32px;
}

.tag-container a {
    text-decoration: none;
    font-family: "OpenSans";
    color: #0f0d0e;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.tag-item {
    line-height: 24px;
    padding: 0 13px 0;
    border: 3px solid #eeeeee;
    list-style: none;
}

.tag-item:hover {
    border: 3px solid rgb(181, 159, 91, .6);
}

/* categories-section */

.categories-container {
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    margin-top: 18px;
}

.categories-item {
    position: relative;
    flex-basis: 100%;
    padding: 0;
    list-style: none;
}

.categories-item a {
    text-decoration: none;
    font-family: "OpenSans";
    font-size: 14px;
    line-height: 47px;
    color: #000000;
    font-weight: 700;
    margin-right: 2px;
}

.categories-item span {
    position: absolute;
    font-family: "OpenSans";
    font-size: 12px;
    line-height: 36px;
    color: #b59f5b;
    font-weight: 700;
}

.categories-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #eeeeee;
    bottom: 0;
}

/* shop-section  */

.shop {
    flex-basis: 100%;
    margin-bottom: 88px;
}

.shop-container {
    margin-top: 240px;
    justify-content: space-between;
}

.shop-item {
    position: relative;
    width: 347px;
    box-sizing: border-box;
    z-index: 1;
    min-height: 215px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.border {
    outline: 3px solid rgb(181, 159, 91, .6);;
    outline-offset: 20px;
    position: relative;
    width: 300px;
    z-index: 2;
    min-height: 215px;
}

.shop-pics {
    position: relative;
    width: 300px;
    height: 204px;
    background-color: #eff6f1;
    margin-top: -204px;
    z-index: 1;
}

.tablet,
.mobile {
    display: none;
}

.shop-title {
    font-family: "OpenSans";
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
    font-weight: 700;
    margin: 1.2em auto .25em;
    text-transform: uppercase;
}

.shop-description {
    margin: 0 auto 1.6em;
}

.shop-description-link {
    text-decoration: none;
    font-family: "OpenSans";
    font-size: 15px;
    line-height: 22px;
    color: rgb(181, 159, 91);
}

.shop-description-link:hover {
    text-decoration: underline;
    margin: auto;
}

.price_section {
    display: inline-block;
}

.price {
    font-family: "OpenSans";
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
    font-weight: 700;
    margin: 0;
}

.old_price {
    font-family: "OpenSans";
    font-size: 14px;
    line-height: 24px;
    color: #0f0d0e;
    font-weight: 700;
    margin: 0 0 -15%;
    text-decoration: line-through;
    height: 24px;
}

.rub {
    position: relative;
    font-family: "OpenSans";
    font-size: inherit;
    line-height: inherit;
    color: #0f0d0e;
    font-weight: 700;
    text-transform: uppercase;
}

.rub:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 65%;
    height: 8%;
    top: auto;
    bottom: 30%;
    left: 12%;
    background: #0f0d0e;
}

.shop-item .button {
    float: right;
    width: 140px;
}

/* footer */

.footer {
    position: relative;
    flex-basis: 100%;
}

.footer_links {
    height: 83px;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    line-height: 12px;
}

.icon {
    height: 21px;
    width: 21px;
    text-indent: -9999px;
    text-decoration: none;
}

.pinterest {
    background-image: url(../svg/001-pinterest.svg);
}

.tumblr {
    background-image: url(../svg/003-tumblr.svg);
}

p.copy {
    font-family: "OpenSans";
    font-size: 12px;
    line-height: 40px;
    color: #999999;
    font-weight: 700;
    text-align: center;
    margin: 60px auto 35px;
}

/* popup-section */

.popup_hidden {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.popup-content {
    width: 380px;
    height: 590px;
    padding: 30px;
    position: relative;
    z-index: 4;
    background-color: #ffffff;  
}

.popup-close-button {
    display: block;
    position: absolute;
    right: 0;
    bottom: 100%;
    margin-bottom: 10px;
    width: 1.3em;
    height: 1.3em;
    background-image: url(../svg/form-x.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.3em;
    cursor: pointer;
}

.popup-close-button:hover {
    background-size: 1.5em;
}

h2.popup {
    margin: 10px auto 25px;
}

.traffic-text {
    display: inline-block;
    margin: 10px auto;
}

.popup-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 23px;
    font-family: 'OpenSans';
    font-size: 14px;
    line-height: 18px;
}

.traffic-select {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: .8em;
}

.traffic-label {
    position: relative;
}

.arrows {
    position: relative;
    bottom: 0;
    
    right: 0;
    width: 1em;
    height: 1.4em;
    
}

.radio-text {
    margin-right: 13px;
}

.radio-text::before {
    content: '';
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.3em;
    margin-right: 5px;
    vertical-align: middle;
}

.radio:checked ~ .radio-text::before {
    background-image: url(../svg/form-circle.svg);
}

.radio {
    display: none;
}

.textarea {
    box-sizing: border-box;
    padding-top: 15px;
    min-height: 150px;
    resize: none;
    margin-bottom: 20px;
}

.traffic-select,
.textarea::placeholder {
    font-family: 'OpenSans';
    font-size: 14px;
    color: #888888;
}

.feedback>.button {
    height: 55px;
    font-size: 15px;
}

/* adaptivity */


/* tablet */

@media screen and (min-width: 641px) and (max-width: 1200px) {
    body {
        min-width: 641px;
        max-width: 1200px;
        margin: 0;
    }

    /* header */

    .header {
        min-height: 390px;   
        margin-bottom: 38px;
        min-width: 641px;
        width: 100%;
        background-image: url(../images/banner-bg-tablet.jpg);
    }

    h1 {
        font-size: 40px;
        line-height: 55px;
        margin: 124px auto 0;
        width: 615px;
    }

    .logo_1 {
        width: 158px;
        height: 36px;
        top: 21px;
        left: 18px;
    }

    .burger-menu {
        text-indent: -9999px;
        display: inline;
        float: right;;
        position: relative;
        width: 23px;
        height: 23px;
        top: 50px;
        right: 34px;
        margin: 0;
    }

    .burger-menu::before,
    .burger-menu::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        border-top: 3px solid #fff;
    }

    .burger-menu::before {
        top: 0;
    }
    
    .burger-menu::after {
        top: 9px;
    }

    .burger-menu::after {
        border-bottom: 3px solid #fff;
        bottom: 2px;
    }

    .menu {
        display: none;
    }

    /* trends */

    .trends {
        margin-bottom: 40px;
        width: 100%;
    }

    .trends h2,
    .shop h2 {
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 29px;
    }

    .trend-container {
        flex-wrap: wrap;
    }

    .trends-item {
        min-height: 246px;
        width: calc(50% - 4px);
        background-position: bottom;
    }
    
    .trends-content-links {
        padding: 27px 2.5% 23px;
        margin: 15px 20px;
    }

    .trends-title {
        font-size: 17px;
    }

    /* content */

    .page {
       
        min-width: 641px;
        max-width: 1200px;
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    /* main */

    .main {
        flex-basis: 350px;
        gap: 42px;
        margin-bottom: 40px;
    }

    .main-article {
        max-width: 391px;
        width: 54.6vw;
        flex-direction: column;
        gap: 16px;
        border-bottom: 3px solid #eeeeee;
    }

    .article {
        max-width: 391px;
        width: 54.6vw;
    }

    .main-article-pics {
        min-width: 350px;
        max-width: 391px;
        width: 100%;
        height: auto;
    }

    .article-title,
    .shop-title {
        font-size: 17px;
        line-height: 22px;
    }

    .article-sub {
        line-height: 41px;
    }

    .article-description {
        margin-top: 15px;
        width: 100%;
    }

    .article-content-links .tags {
        margin-bottom: 7px;
    }

    /* aside */

    .aside {
        flex-basis: 270px;      
    }

    .tag {
        margin-bottom: 51px;
    }

    /* shop section */

    .shop {
       margin-bottom: 47px;
    }

    .shop h2 {
        margin-bottom: 59px;
    }

    .shop-container {
        
        max-width: calc(100% - 50px);
        justify-content: start;
        flex-wrap: wrap;
        row-gap: 270px;
        margin-top: 260px;
    }

    .shop-item {
        margin-left: 7%;
    } 

    .shop-pics {
        height: 226px;
        width: 292px;
        margin-top: -224px;
    }

    .desk,
    .mobile {
        display: none;
    }

    .tablet {
        display: block;
    }

    .border {
        outline-offset: 15px;
        margin-top: -18px;
        padding-top: 18px;
        min-width: 300px;
        max-width: 500px;
    }

    /* footer */

    .footer_links {
        width: 90%;
        margin: auto;
    }
    
    p.copy {
        
        margin-top: 34px;
    }
}

/* tablet landscape orientation */

@media screen and (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  
    .body {
        width: 100%;
        margin: 0;
    }

    .trend-container {
        flex-wrap: nowrap;
        width: 100%;
        margin: 0;
    }

    .trends-item{
        min-width: 154px;
        max-width: calc(25% - 4px);
        min-height: 246px;
        background-position: bottom;
    }

    .trends-content-links {
        padding: 27px 2.5% 23px;
        margin: 15px calc(5% - 6px);
    }

    .tags:nth-child(n + 2) {
        margin-left: 2%;
    }
}

/* mobile */

@media screen and (max-width: 640px) {

    body {
        min-width: 320px;
        max-width: 640px;
        margin: 0;
    }

    /* header */

    .header {
        min-height: 637px;   
        margin-bottom: 35px;
        min-width: 320px;
        width: 100%;
        background-image: url(../images/banner-mobile.jpg);
    }

    h1 {
        font-size: 26px;
        line-height: 36px;
        margin: 33px auto 0;
        width: 328px;
    }

    .logo_1 {
        width: 269px;
        height: 61px;
        top: 113px;
        left: 0;
        display: block;
        margin: 0 auto 258px;
    }

    .burger-menu {
        text-indent: -9999px;
        display: inline;
        float: right;;
        position: relative;
        width: 23px;
        height: 23px;
        top: 2px;
        right: 16px;
        margin: -290px 0;
    }

    .burger-menu::before,
    .burger-menu::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        border-top: 3px solid #fff;
    }

    .burger-menu::before {
        top: 0;
    }
    
    .burger-menu::after {
        top: 9px;
    }

    .burger-menu::after {
        border-bottom: 3px solid #fff;
        bottom: 2px;
    }

    .menu {
        display: none;
    }

    /* trends */

    .trends {
        margin-bottom: 34px;
        width: 100%;
    }

    .trends h2,
    .shop h2 {
        font-size: 16px;
        line-height: 29px;
        margin-bottom: 32px;
    }

    .trend-container {
        flex-wrap: wrap;
    }

    .trends-item {
        min-height: 230px;
        width: 100%;
        background-position: bottom;
    }
    
    .trends-content-links {
        padding: 27px 2.5% 23px;
        margin: 15px 20px;
    }

    .trends-title {
        font-size: 16px;
    }

    /* content */

    .page {
       
        min-width: 320px;
        max-width: 640px;
        width: 100%;
        flex-direction: column;
        align-items: start;
        margin: 0;
    }

    /* main */

    .main {
        width: 100%;
        gap: 38px;
        margin-bottom: 38px;
    }

    .main-article {
        width: 92%;
        margin: auto;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-bottom: 3px solid #eeeeee;
    }

    .main-article-pics {
        min-width: 315px;
        max-width: 391px;
        width: 100%;
        height: auto;
    }

    .article {
        min-width: 315px;
        max-width: 391px;
        width: 100%;
    }

    .article-title{
        margin: 0;
    }
    .article-title,
    .shop-title {
        font-size: 16px;
        line-height: 20px;
    }

    .article-sub {
        margin: 0;
        height: 32px;
    }

    .article-description {
        font-size: 14px;
        line-height: 20px;
        margin-top: 15px;
    }

    .article-content-links .tags {
        margin-bottom: 7px;
    }

    /* aside */

    .aside {
        width: 92%;  
        margin: auto;    
    }

    .aside-title {
        font-size: 16px;
    }

    .tag {
        margin-bottom: 33px;
    }

    .new-posts-item {
        justify-content: start;
        gap: 20px
    }

    .search-container {
        margin-bottom: 38px;
    }

    .subscribe-container {
        margin-bottom: 34px;
    }

    .categories-container {
        margin-bottom: 34px;
    }

    /* shop section */

    .desk,
    .tablet {
        display: none;
    }

    .mobile {
        display: block;
    }

    .shop {
       margin-bottom: 47px;
       width: 100%;
    }

    .shop h2 {
        margin-bottom: 40px;
    }

    .shop-container {
        width: 100%;
        flex-flow: column nowrap;
        row-gap: 270px;
        margin-top: 260px;
        align-items: center;
    }

     .shop-pics {
        height: 274px;
        width: 292px;
        margin-top: -224px;
    }

    .shop-item {
        width: 330px;
    }

    .border {
        outline-offset: 15px;
        margin-top: -18px;
        padding-top: 18px;
        min-width: 300px;
        max-width: 500px;
    }

    /* footer */

    .footer {
        width: 330px;
        margin: auto;
    }
    
    p.copy {
        
        margin-top: 34px;
    }
}

/* mobile landscape orientation */

@media screen and (orientation: landscape) and (max-width: 640px) {

    .trends-item {
        min-height: 246px;
        min-width: 156px;
        width: calc(50% - 4px);
        background-position: bottom;
    }
}